.main-section {
    box-sizing: border-box;
    padding: 1px 0;
    .main-container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .rbui-row {
        margin-top: 46px;
        margin-bottom: 46px;
    }
    div[class^="rbui-col"] {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

