@import "../_themeStyles/spacing.scss";

.rbui-row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: -$gutter-spacing;
    margin-right: -$gutter-spacing;
    &--no-gutter {
        margin-left: 0;
        margin-right: 0;
    }
    &--align-items-stretch {
        align-items: stretch;
    }
    &--align-items-flex-start {
        align-items: flex-start;
    }
    &--align-items-flex-end {
        align-items: flex-end;
    }
    &--align-items-baseline {
        align-items: baseline;
    }
     &--align-items-center {
        align-items: center;
    }
    &--justify-content-flex-end {
        justify-content: flex-end;
    }
    &--justify-content-center {
        justify-content: center;
    }
    &--justify-content--spacing-between {
        justify-content: space-between;
    }
    &--justify-content--spacing-around {
        justify-content: space-around;
    }
    &--justify-content--spacing-evenly {
        justify-content: space-evenly;
    }
    &--align-content-flex-start {
        align-content: flex-start;
    }
    &--align-content-flex-end {
        align-content: flex-end;
    }
    &--align-content-center {
        align-content: center;
    }
    &--align-content-stretch {
        align-content: stretch;
    }
    &--align-content--spacing-between {
        align-content: space-between;
    }
    &--align-content--spacing-around {
        align-content: space-around;
    }
    &--spacing-0 {
        div[class^="flex-col"] {
            padding: 0px;
        }
    }
    &--spacing-1 {
        div[class^="flex-col"] {
            padding: 4px;
        }
    }
    &--spacing-2 {
        div[class^="flex-col"] {
            padding: 8px;
        }
    }
    &--spacing-3 {
        div[class^="flex-col"] {
            padding: 12px;
        }
    }
    &--spacing-4 {
        div[class^="flex-col"] {
            padding: 16px;
        }
    }
    &--spacing-5 {
        div[class^="flex-col"] {
            padding: 20px;
        }
    }
    &--spacing-6 {
        div[class^="flex-col"] {
            padding: 24px;
        }
    }
    &--spacing-7 {
        div[class^="flex-col"] {
            padding: 28px;
        }
    }
    &--spacing-8 {
        div[class^="flex-col"] {
            padding: 32px;
        }
    }
    &--spacing-9 {
        div[class^="flex-col"] {
            padding: 36px;
        }
    }
    &--spacing-10 {
        div[class^="flex-col"] {
            padding: 40px;
        }
    }
}