$p-size: 1rem;
$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.75rem;
$h4-size: 1.5rem;
$h5-size: 1.25rem;
$h6-size: 1rem;

$p-margin-bottom: $p-size / 3;
$h1-margin-bottom: $h1-size / 3;
$h2-margin-bottom: $h2-size / 3;
$h3-margin-bottom: $h3-size / 3;
$h4-margin-bottom: $h4-size / 3;
$h5-margin-bottom: $h5-size / 3;
$h6-margin-bottom: $h6-size / 3;