@import '../_themeStyles/colors.scss';
@import '../_themeStyles/properties.scss';
@import '../_themeStyles/spacing.scss';

.bui-paper {
    box-sizing: border-box;
    display: block;
    background-color: $primary-bg;
    box-shadow: $shadow;
    padding: $container-padding
}