@import '../_themeStyles/spacing.scss';
@import '../_themeStyles/colors.scss';

.list-item {
    background-color: $primary-bg;
    box-sizing: border-box;
    display: block;
    align-items: center;
    position: relative;
    &--no-cta {
        display: flex;
        padding: 8px $horizontal-spacing;
    }
    &--link > a,
    &--button > button:first-of-type {
        outline: none;
        border: none;
        width: 100%;
        background-color: $primary-bg;
        display: flex;
        padding: 8px $horizontal-spacing;
        cursor: pointer;
        &:hover {
            background-color: darken($primary-bg, 6%);
        }
    }
    &--with-secondary {
        padding-right: 50px;
    }
}