@import "../_themeStyles/colors.scss";

.block-title {
    background-color: $primary;
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    color: #fff;
    padding: 15px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }    
}
