@import '../_themeStyles/spacing.scss';

.list-item-icon {
    box-sizing: border-box;
    display: inline-flex;
    height: 100%;
    width: auto;
    margin-right: $horizontal-spacing;
    img,
    svg {
        height: 100%;
        width: auto;
    }
}