@import "../_themeStyles/colors.scss";

.drawer {
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #ddd;
    background-color: $primary-bg;
    display: inline-block;
    width: calc(100% - 50px);
    max-width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: transform 0.25s ease;
    transform: translateX(-100%);
    z-index: 10001;
    &--left {
        left: 0;
    }
    &--right {
        right: 0;
    }
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    transform: translateX(-100%);
    transition: opacity 0.25s ease;
    opacity: 0;
    z-index: 10000;
}