
//primary
$primary: #158efe;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
//secondary
$secondary: #7997b2;
$secondary-light: lighten($secondary, 10%);
$secondary-dark: darken($secondary, 10%);
//tertiary
$tertiary: #fcbb16;
$tertiary-light: lighten($tertiary, 10%);
$tertiary-dark: darken($tertiary, 10%);

//white
$white: #fff;

//black
$black: #000;

//blue
$blue: #158efe;
//red
$red: #ff0000;
//yellow
$yellow: #fff200;
//green
$green: #6ce274;
//purple
$purple: #a759d1;
//orange
$orange: #ff9d00;

